# Python cache
__pycache__/
*.py[cod]
*$py.class

# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover
*.py,cover

# Test cache
.pytest_cache/   # در صورتی که گاهی pytest هم استفاده کنی

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE / Editor configs
.vscode/
.idea/
*.swp
*.swo
